<!Doctype html>
<html>
    <style>
        textarea {
            width: 80vw;
            height: 60vh;
        }
        input {
            padding: 10px;
        }
    </style>
    <body>
    <a href="/landing">Back</a>
        <h1 id="header">{id}</h1>
        <h4>Parameters: {params}</h4>
        <h4>Return type: {resultType}</h4>
        <textarea id="edit-input">{body}</textarea>
        <p id="error-message"></p>
        <input type="submit" id="edit-submit">
        <script>
            document.getElementById('edit-submit').addEventListener('click', () => {
                let value = document.getElementById('edit-input').value;
                fetch('/configure', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        id: document.getElementById('header').innerText,
                        classBody: value
                    })
                })
                    .then((res) => res.json())
                    .then((data) => {
                        if (data.success) {
                            alert("Successful!");
                            document.getElementById('error-message').innerHTML = '';
                        } else {
                            document.getElementById('error-message').innerHTML = ('Error:<br>' + data.message);
                            alert("ERROR");
                        }
                    });
            })
        </script>
    </body>
</html>