<!Doctype html>
<html>
    <head>
        <style>
            th, td {
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <h1>Landing page</h1>
        <p>You can find all calculations that can be configured.</p>
        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>ResultType</th>
                    <th>Parameters</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {#for function in functions}
                    <tr>
                        <td>{function.name}</td>
                        <td>{function.resultType}</td>
                        <td>{function.getParameterList()}</td>
                        <td>
                            <a href="/edit?id={function.name}">Edit</a>
                            <a href="/test?id={function.name}">Test</a>
                        </td>
                    </tr>
                {/for}
            </tbody>
        </table>
    </body>
</html>