<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <style>
        button {
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Calculation flow</h1>
    <p>
        Welcome to Calculation flow. This application helps you to implement customizable calculations for your standard software.<br>
        You can deeply integrate our API endpoint into your application while you can easily configure how specific calculation should be done.<br>
        If you want to start using this application just modify the application.yml file for your needs. It contains all calculation functions that <br>
        you want the application to perform. After registering them correctly in the config file, you have to restart the server.<br>
        After restarting you can start configuring your workflows under the <a href="/landing">landing tab</a>.
    </p>
</body>
</html>